<!--- Hola! Cuando corras este codigo en el navegador, podes pinchar en el logo para volver al home-->
<!--- También, es posible que encuentres código sin usar de CSS que haya quedado por error.-->
<!--- Gracias por tomarte un momento para revisar esto y darme tu opinión-->
<!--- Que no funciona de momento: search bar-->
<!-- Cambie todo un media para abajo. Ahora 768px da un poco de problemas con la nav bar-->
<!--- RECORDAR DE PUSHEAR A MAIN-->

<!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/d3503ff7e5.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/utils.css" />
        <title>Home</title>
        <link
            rel="stylesheet"
            href="/css/styles-sm.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-md.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-lg.css"
            media="(min-width:1280px)"
        />
    </head>

    <body>
        <header class= "main-header">
            <div>
            <div class="main-header-top-bar">
                <a href='/'><img class= 'logo' src="/images/logo-mercado-liebre.svg" alt="logo" /></a>


              <div class='container-searchbar  w-33-sm'>
                <div class='item-container-searchbar container-styling-searchbar'>
             <input class='w-100 padding-5 border-rad-5 no-border margin-top-8' type="text" placeholder="Buscar productos, marcas" />
                <button class='no-border white-bg no-background' ><i class="fa fa-search padding-5 border-rad-5 no-border white-bg no-background "></i></button> 
            </div>
        </div>


            <h2 class="copy-header"> <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjetas de crédito
            </h2>
    


        </div>
        <div class="hamburger-menu ml-lb-bg">
            <i class="fas fa-bars ml-light-text"></i>
        </div>
            <nav class="main-navbar">
            <ul class='left-navbar'>
                <li><a href='#'>Ofertas</a></li>
                <li><a href='#'>Tiendas oficiales</a></li>
                <li><a href='#'>Vender</a></li>
                <li><a href='#'>Ayuda</a></li>
            </ul>
    
            <ul class='right-navbar'>
                <li><a href='/register'>Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href='/login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href='#'>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        </header>

  <img class="banner" src="/images/img-home-banner.jpg" alt= "banner" />   


<main id="main-content">
    <section>
     <h2 class="titles">Basado en tu última visita </h2>
        <div class="flex">
        <div class="product-wrapper">
            <article class="product">
                <img class="product-img" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex"/>
                <div class="product-content">
                    <i class="fas fa-truck ml-green-text truck-icon"></i>
                    <p class="font-size-precios">$6.770</p>
                    <p class="font-size-descuentos ml-green-text">40% off</p>
                    <strong class="font-size-descripciones">Cafetera Moulinex</strong>
                </div>
            </article>
    </div>

<div class="product-wrapper product-wrapper:hover">
    <article class="product">
        <img class='product-img' src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro 2019" />
        <div class="product-content flex">
            <i class="fas fa-truck ml-green-text truck-icon"></i>
            <p class="font-size-precios"> $230.000</p>
            <p class="font-size-descuentos ml-green-text">20% off</p>
            <strong class="font-size-descripciones">Macbook Pro 2019</strong>
        </div>
    </article>
</div>
    
<div class="product-wrapper">
    <article class="product">
        <img class= "product-img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
        <div class="product-content">
            <i class="fas fa-truck ml-green-text truck-icon"></i>       
        <p class="font-size-precios">$70.500</p>
        <p class="font-size-descuentos ml-green-text">10% off</p>
        <strong class="font-size-descripciones">Samsung Galaxy S10</strong>
    </div>
    </article>
</div>

<div class="product-wrapper">
    <article class="product">
        <img class="product-img" src="/images/img-tv-samsung-smart.jpg" alt=" Samsung smart Tv" />
        <div class="product-content">
            <i class="fas fa-truck ml-green-text truck-icon"></i>
            <p class="font-size-precios">$23.200</p>
            <p class="font-size-descuentos ml-green-text">5% off</p>
            <strong class="font-size-descripciones">Smart Tv Samsung 43</strong>
        </div>
    </article>
</div>
</div>
</section>


<sectio>
    <h2 class="titles"> Sección de ofertas </h2>
    <div class=flex>
    <div class="product-wrapper">
        <article class="product">
            <img class="product-img" src="/images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
            <div class="product-content">
                <i class="fas fa-truck ml-green-text truck-icon"></i>
                <p class="font-size-precios">$6.770</p>
                <p class="font-size-descuentos ml-green-text">40% off</p>
                <strong class="font-size-descripciones">Cafetera Moulinex</strong>
            </div>
        </article>
    </div>
    
<div class="product-wrapper">
    <article class="product">
        <img class="product-img" src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro 2019" />
        <div class="product-content">
            <i class="fas fa-truck ml-green-text truck-icon"></i>
            <p class="font-size-precios">$230.000</p>
            <p class="font-size-descuentos ml-green-text">20% off</p>
            <strong class="font-size-descripciones">Macbook Pro 2019</strong>
        </div>
    </article>
</div>
    <div class="product-wrapper">
        <article class="product">
            <img class="product-img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
            <div class="product-content">
                <i class="fas fa-truck ml-green-text truck-icon"></i>
                <p class="font-size-precios">$70.500</p>
                <p class="font-size-descuentos ml-green-text">10% off</p>
                <strong class="font-size-descripciones">Samsung Galaxy S10</strong>
            </div>
        </article>
    </div>
    
    
    <div class="product-wrapper">
        <article class="product">
            <img class="product-img" src="/images/img-tv-samsung-smart.jpg" alt=" Samsung smart Tv" />
            <div class="product-content">
                <i class="fas fa-truck ml-green-text truck-icon"></i>
                <p class="font-size-precios">$23.200</p>
                <p class="font-size-descuentos ml-green-text">5% off</p>
                <strong class="font-size-descripciones">Smart Tv Samsung 43</strong>
            </div>
        </article>
    </div>
</div>
    </section>
    </main>

<footer class="text-center">
    <i class="fas fa-credit-card ml-lb-text fa-2x"></i>
    <h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash,tenés cuotas sin interés con tarjeta o
        efectivo en puntos de pago. ¡Y siempre es seguro!
    </p>
    <i class="fas fa-gift ml-lb-text fa-2x"></i>
    <h3>Envío gratis desde $ 2.500</h3>
    <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis
        en miles de productos. Es un beneficio de Mercado Puntos.
    </p>
    <i class="fas fa-user-shield ml-lb-text fa-2x"></i>
    <h3>Seguridad, de principio a fin</h3>
    <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre,
        no hay nada que no puedas hacer, porque estás siempre protegid@.
    </p>
    <br>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>

</body>

</html>