<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/d3503ff7e5.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css"/>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/utils.css" />
        <title>Registro de usuario</title>
        <link
            rel="stylesheet"
            href="/css/styles-sm.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-md.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-lg.css"
            media="(min-width:1280px)"
        />
</head>
<body>
    <header class= "main-header">
        <div class="main-header-top-bar">
            <a href='/'><img class= 'logo' src="/images/logo-mercado-liebre.svg" alt="logo" /></a>
            <div>
                <input  class='w-100' type="text" placeholder="Buscar productos, marcas" />
                <button><i class="fa fa-search"></i></button>
            </div>
        <h2 class="copy-header"> <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjetas de crédito
        </h2>
    </div>
    <div class="hamburger-menu ml-lb-bg">
        <i class="fas fa-bars ml-light-text"></i>
    </div>
        <nav class="main-navbar">
        <ul class='left-navbar'>
            <li><a href='#'>Ofertas</a></li>
            <li><a href='#'>Tiendas oficiales</a></li>
            <li><a href='#'>Vender</a></li>
            <li><a href='#'>Ayuda</a></li>
        </ul>

        <ul class='right-navbar'>
            <li><a href='/register'>Creá tu cuenta<i class="far fa-id-card"></i></a></li>
            <li><a href='/login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href='#'>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    </header>
   <main>
       <h1 class='text-center'> Registro de usuario </h1>
    <form action='/' method="GET">
        <fieldset>
        <div class='form-input'>
            <label  class= 'main-label' for="name"></label>
            <input type="text" id="name" name="name" placeholder="Nombre y Apellido">
        </div>
        <div class='form-input'>
            <label class= 'main-label' for="username"></label>
            <input type="text" id="username" name="username" placeholder="Nombre de usuario">
        </div>
        <div class='form-input'>
            <label class='main-label' for='password'></label>
            <input id="password" type="password" name="password" placeholder="Contraseña"/>
        </div>
        <div class='form-input'>
            <label class='main-label' for='repassword'></label>
            <input id="repassword" type="repassword" name="repassword" placeholder="Repetir contraseña"/>
        </div>
        <div class='form-input'>
            <label class= 'main-label nacimiento-label' for="birthdate"> <strong>Fecha de nacimiento</strong></label>
            <input class='white-bg' type="date" id="birthdate" name="birthdate">
        </div>
        <div class='form-input'>
            <label  class= 'main-label' for='address'></label>
            <input id='address' type='text' name='address' placeholder="Domicilio"/>
        </div>

        <div class='form-input flex-wrap perfil-form'>
            <label  class= 'main-label w-100 ' id="user-profile-seller"><strong>Perfil de Usuario</strong></label>
            <div class="text-center">
            <input type="radio" id="user-profile-seller" name= "user-profile" value= "seller">
            <label class= 'main-label-inline padding-5' for="user-profile-seller"> Vendedor</label>
            <input type="radio" id="user-profile-seller"name="user-profile" value= "buyer">
            <label class= 'main-label-inline padding-5' for="user-profile-seller"> Comprador</label>
            </div>
        </div>

        <div class='form-input main-label'>
            <label class="main-label flex-wrap">Intereses</label>
            <div class="">
            <div>
                <input  type="checkbox" name="Electronica" id="Electronica" value="Electronica" />
                <label class='padding-5' for="Electronica">Electronica</label>
            </div>
            <div>
            <input  type="checkbox" name="Moda" id="Moda" value="Moda" />
                <label class='padding-5' for="Moda">Moda</label>
            </div>
            <div>
                <input type="checkbox" name="Hogar" id="Hogar" value="Hogar" />
                    <label class='padding-5' for="Hogar">Hogar</label>
                </div>
                <div>
                    <input type="checkbox" name="Juguetería" id="Juguetería" value="Juguetería" />
                        <label class='padding-5' for="Juguetería">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="Vida sana" id="Vida sana" value="Vida sana" />
                            <label class='padding-5' for="Vida sana">Vida sana</label>
                        </div>
                    </div>
        </div>
        <div class='black-border align-vertically-wrap-balanced'>
            <label class='main-label' for='profile-pic'>Foto de perfil</label>
            <input id='profile-pic' type='file' name='profile-pic' accept='image/png, image/jpeg'/>
        </div>
        <div class= 'buttons-align-style border-rad-5'>
        <button class='button-form flexgrow ml-lb-bg ml-white-text padding-5' type="submit">Enviar</button>
        <button class='button-form flexgrow ml-lb-bg ml-white-text padding-5' type="reset">Resetear</button>
    </div>
        </div>
    </fieldset>   
    </form>
    
    </main>
    
</body>
</html>