.main-header-top-bar{
display:flex;
justify-content: space-between;
}

.logo{
display:initial;
}

.copy-header{
    max-width:350px;
    text-align:right;
}


.container-searchbar{
    margin:initial;
    }


.hamburger-menu {
    display: none;
}


.main-navbar{
    display: flex;
    justify-content:space-around;
}  

.main-navbar ul{
    display:flex;
}

.main-navbar li{
    margin:5px;
}



/* break ^ this is from reviewing */

.product-wrapper{
    padding:15px;
 }
 


.product-content{
    display: none;
}

.product-wrapper{
    width:50%;
}

.product{
    box-shadow: 0px 0px 10px rgb(100,100,100);
}

.product-wrapper:hover .product-content{
    display:flex;
    flex-wrap: wrap;

}

.truck-icon{ 
    transition: transform ease-in-out 500ms; 
}


.product:hover .truck-icon{ 
transform:rotate(360deg);  
}





