.product-wrapper{
    width:25%;
}

.logo{
    width:250px;
}

.main-header-top-bar, .main-navbar{
    max-width:1200px;
    margin:auto;
}

.main-navbar{
    margin-top: 40px;
}


.main-header-top-bar{
    align-items:center;
}

.main-navbar li{
    margin: 0 10px;
}

.main-navbar a{
 font-size: 19px;
}

.copy-header{
    max-width:none;
    font-size:18px;
    font-weight:400;
    margin:0;
}