.background-color-yl{
    background-color: #EAC926;
}

body{
    margin:0px;
    font-family: 'Roboto';
}

p{
    font-size: 12px;
}


.text-titles{
    font-size: 24px;
}

.font-size-precios{
    font-size: 18px;
}

.font-size-descuentos{
    font-size:16px;
}

.font-size-descripciones{
    font-size:16px;
}

.hamburger-icon{
text-align:center;
background: blue;
margin-left: 540px;
margin-right: 540px;
color: white;
font-size:2em;
border-radius:10px;
}

.align-center{
    text-align:center;
}