.logo{
    width:200px;
    display:flex;
    align-content: center;
    margin: auto;
}

.main-header{
    background-color:#eac926;
    padding: 20px;
}

.copy-header{
font-weight: 400;
text-align: center;
}


.main-navbar{
    display:none;
}


.main-navbar ul{
list-style: none;
margin:0;
padding:0;
}


.main-navbar a{
    text-decoration: none;
    color: #222222;
    display:inline-block;
    padding: 5px 0;
}


/* register specific */
fieldset{
    border:none;
}

.form-input .main-label{
    display:block;
    font-size:16px;
    font-weight: bold;
}

.form-input input{
    width:100%;  
    padding: 8px 8px;
    border:none;  
    border-radius: 5px;  
}

.form-input input[type="checkbox"],
.form-input input[type="radio"]{
    width:auto;
    margin: 0 3px 0 3px;
}

.form-input{
    margin-bottom:23px;
}

.perfil-form{
display:flex;
flex-wrap: wrap;
justify-content: flex-start;
}



.hamburger-menu{
    text-align: center;
    font-size: 24px;
    width: 44px;
    height: 44px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 8px;
    display:block;
}

.banner{
    width: 100%;
}

#main-content{
padding: 0 5%;
}


.flex{
    display:flex;
    flex-wrap:wrap;
}

.product{
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
    background-color: white;
}

.product-img{
    width:100%;
}

.product-content{ 
    width:100%;
    border-top: 1px solid #ebebeb;
    position:relative;
}


.truck-icon{
    font-size: 16px;
    padding: 5px;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    right:20px;
    top:-15px;
}

.button-form:hover{
    background-color: #0022AA;
}

.container-searchbar{
padding:8px;
width:50%;
margin:auto;
}

.item-container-searchbar{
    display:flex;
    flex-wrap:nowrap;
}

.container-styling-searchbar{
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width:100%;
}